In [60]:
import pandas as pd

In [61]:
boone_df = pd.read_csv("Boone.csv")
boone_df

,datetime,placename,usaf,wban,air_temp,dew_point,pressure,wind_dir,wind_spd,sky_cond,precip_1hr
0,2010-01-01 00:00:00+00:00,Boone,722198,63819,7.0,5.0,NaN,270.0,2.6,8.0,NaN
1,2010-01-01 01:00:00+00:00,Boone,722198,63819,5.0,4.0,NaN,280.0,4.6,8.0,NaN
2,2010-01-01 02:00:00+00:00,Boone,722198,63819,5.0,4.0,NaN,280.0,4.6,8.0,NaN
3,2010-01-01 04:00:00+00:00,Boone,722198,63819,4.0,2.0,NaN,290.0,7.7,8.0,NaN
4,2010-01-01 05:00:00+00:00,Boone,722198,63819,4.0,2.0,NaN,280.0,7.7,8.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...
85952,2020-12-31 19:00:00+00:00,Boone,722198,63819,14.0,6.5,NaN,300.0,5.1,NaN,NaN
85953,2020-12-31 20:00:00+00:00,Boone,722198,63819,12.8,6.7,NaN,300.0,3.1,NaN,NaN
85954,2020-12-31 21:00:00+00:00,Boone,722198,63819,13.0,6.6,NaN,0.0,0.0,NaN,NaN
85955,2020-12-31 22:00:00+00:00,Boone,722198,63819,12.5,6.4,NaN,0.0,0.0,NaN,NaN
85956,2020-12-31 23:00:00+00:00,Boone,722198,63819,8.8,5.8,NaN,0.0,0.0,NaN,NaN

In [62]:
boone_df.dtypes

datetime       object
placename      object
usaf            int64
wban            int64
air_temp      float64
dew_point     float64
pressure      float64
wind_dir      float64
wind_spd      float64
sky_cond      float64
precip_1hr    float64
dtype: object

##### 1. Convert fields to correct type

In [63]:
boone_df["datetime"] = pd.to_datetime(boone_df["datetime"])
boone_df.dtypes

datetime      datetime64[ns, UTC]
placename                  object
usaf                        int64
wban                        int64
air_temp                  float64
dew_point                 float64
pressure                  float64
wind_dir                  float64
wind_spd                  float64
sky_cond                  float64
precip_1hr                float64
dtype: object

##### 2. Drop useless columns (placename, usaf, wban, pressure)

In [64]:
print(boone_df.isna().sum())
print(boone_df.shape)
boone_df = boone_df.drop(columns=["placename", "usaf", "wban", "pressure"])
boone_df.head()

datetime          0
placename         0
usaf              0
wban              0
air_temp        428
dew_point       437
pressure      85957
wind_dir        648
wind_spd        649
sky_cond      26978
precip_1hr    78688
dtype: int64
(85957, 11)

,datetime,air_temp,dew_point,wind_dir,wind_spd,sky_cond,precip_1hr
0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN
1,2010-01-01 01:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
2,2010-01-01 02:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
3,2010-01-01 04:00:00+00:00,4.0,2.0,290.0,7.7,8.0,NaN
4,2010-01-01 05:00:00+00:00,4.0,2.0,280.0,7.7,8.0,NaN

##### 3. Rename columns: Remove underscores and use pascal casing

In [65]:
# dynamically change snakecase columns to PascalCase
column_list = []
for col in boone_df.columns:
    split_column = col.split("_")
    new_column = ""

    if len(split_column) > 1:  # for multi-word columns
        for each_word in split_column:
            new_column += each_word.title()
    else:  # for single word columns
        new_column = col.title()
    column_list.append(new_column)

boone_df.columns = column_list
boone_df

,Datetime,AirTemp,DewPoint,WindDir,WindSpd,SkyCond,Precip1Hr
0,2010-01-01 00:00:00+00:00,7.0,5.0,270.0,2.6,8.0,NaN
1,2010-01-01 01:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
2,2010-01-01 02:00:00+00:00,5.0,4.0,280.0,4.6,8.0,NaN
3,2010-01-01 04:00:00+00:00,4.0,2.0,290.0,7.7,8.0,NaN
4,2010-01-01 05:00:00+00:00,4.0,2.0,280.0,7.7,8.0,NaN
...,...,...,...,...,...,...,...
85952,2020-12-31 19:00:00+00:00,14.0,6.5,300.0,5.1,NaN,NaN
85953,2020-12-31 20:00:00+00:00,12.8,6.7,300.0,3.1,NaN,NaN
85954,2020-12-31 21:00:00+00:00,13.0,6.6,0.0,0.0,NaN,NaN
85955,2020-12-31 22:00:00+00:00,12.5,6.4,0.0,0.0,NaN,NaN
85956,2020-12-31 23:00:00+00:00,8.8,5.8,0.0,0.0,NaN,NaN

##### 4. How much data is missing?

In [66]:
print(boone_df.isna().sum())
print(boone_df.isnull().sum())

Datetime         0
AirTemp        428
DewPoint       437
WindDir        648
WindSpd        649
SkyCond      26978
Precip1Hr    78688
dtype: int64
Datetime         0
AirTemp        428
DewPoint       437
WindDir        648
WindSpd        649
SkyCond      26978
Precip1Hr    78688
dtype: int64

##### 5. Look for relationships using corr()

In [67]:
round(boone_df.corr(), 2)

           AirTemp  DewPoint  WindDir  WindSpd  SkyCond  Precip1Hr
AirTemp       1.00      0.84    -0.07    -0.22     0.01       0.12
DewPoint      0.84      1.00    -0.27    -0.37     0.17       0.14
WindDir      -0.07     -0.27     1.00     0.79     0.02       0.02
WindSpd      -0.22     -0.37     0.79     1.00     0.04       0.04
SkyCond       0.01      0.17     0.02     0.04     1.00       0.14
Precip1Hr     0.12      0.14     0.02     0.04     0.14       1.00

AirTemp and DewPoint have strong positive correlation.
WindDir and WindSpd have strong positive correlation

DewPoint and WindSpd have strong negative correlation
AirTemp and WindSpd have strong negative correlation

##### 6. Save data to boone_clean.csv

In [68]:
boone_df.to_csv("boone_clean.csv")